$font-color: #707070;
$bg-graydark: #4E4E4E;
$bg-gray: #F3F3F3;
$red-color: #C83B3B;
$red-light: #FF98A3;
$darkblue: #2E4051;
$cubics-blue: #7ECCE9;
$cubics-green: #5DCAB3;
$cubics-yellow: #F29D1F;
$cubics-blue2: #3798D3;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
}

body {
  font-family: 'Montserrat', sans-serif;
  //font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.bg-gray {
  background-color: $bg-gray;
}

@mixin centerElement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}

@mixin normal-text($color) {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: $color !important;
}

@mixin normal-title-h2($color) {
  color: $color;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}

@mixin rectangle($height, $width) {
  border-radius: 70px;
  height: $height;
  width: $width;

}

@mixin text-overflow($line, $height) {
  display: inline-block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  height: $height;
}

.bg-red {
  background-image: linear-gradient(to right bottom, #c83b3b, #d85355, #e66a6f, #f38189, #ff98a3);
}

.bg-green {
  background-image: linear-gradient(to right bottom, #2abb9b, #33c4a4, #3bcead, #42d7b7, #4ae1c0);
}

.bg-blue {
  background-image: linear-gradient(to right bottom, #3798d3, #4fa6dd, #65b4e7, #79c2f1, #8cd0fb);
}

.bg-yellow {
  background-image: linear-gradient(to right bottom, #f29d1f, #f5af39, #f8c151, #fbd268, #ffe281);
}


header {
  padding: 20px 0;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;

  .navBox {
    display: flex;
    justify-content: space-between;

    img {
      width: 226px;
      height: 56px;
      object-fit: contain;
    }

    .nav-item {
      a {

        @include normal-text(#fff)
      }
    }
  }

  .headerSection {
    padding: 100px 0;

    .headerText {
      @include centerElement;
      max-width: 100% !important;

      h1 {
        font-size: 66px;
        font-weight: 600;
        line-height: 81px;
        color: #fff;
      }

      p {
        margin-top: 20px;
        width: 60%;
        @include normal-text(#fff)

      }

      a {
        font-size: 24px;
        font-weight: 600;
        border-radius: 24px;
        border: 1px solid #fff;
        color: #fff;
        display: inline-block;
        text-align: center;
        width: 250px;
        padding: 8px;
        margin-top: 30px;
        transition: all 1s;

        &:hover {
          background-color: #fff;
          transition: all 1s;

          &.brand-header {
            color: $cubics-yellow;

          }

          &.bms-header {
            color: $red-color;

          }

          &.pos-header {
            color: $cubics-green;

          }

          &.tech-header {
            color: $cubics-blue2;

          }
        }
      }

    }

    .headerImg {
      position: relative;

      .frameImg {
        width: 95%;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 10s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 10s;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;

      }

      .headerMainImg {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        &.techImg {
          height: 680px;
          object-fit: contain;
        }
      }
    }
  }
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.secondSection {
  background-color: #fff;
  padding: 100px 0;
  //overflow-x: hidden;

  .secondImg {
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all 1s;

    img {
      max-width: 550px;
      height: 840px;
      object-fit: contain;
      position: relative;
      z-index: 2;
      width: 100%;
    }

    .mainShape {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      max-width: 750px;
      @include rectangle(700px, 100%);
      background-image: linear-gradient(to right bottom, #c83b3b, #d85355, #e66a6f, #f38189, #ff98a3);
    }
  }

  .secondText {
    @include centerElement;
    position: relative;
    right: -150%;
    opacity: 0;
    transition: 1000ms linear all;
    max-width: 460px !important;

    h2 {
      @include normal-title-h2($darkblue)
    }

    p {
      @include normal-text($darkblue)
    }
  }
}

.customizableInterface {
  padding: 200px 0;
  position: relative;
  z-index: 3;

  .thirdSectionFlex {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .thirdImg {
    position: relative;

    .thirdShadow {
      max-width: 600px;
      @include rectangle(570px, 100%);
      background-image: linear-gradient(to right bottom, #c83b3b, #d85355, #e66a6f, #f38189, #ff98a3);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    .miniFlex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 3px;
      }

      img {
        max-width: 200px;
        height: 100px;
        width: 100%;
      }
    }

    .maxFlex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 3px;
      }

      img {
        max-width: 412px;
        width: 100%;
        height: 211px;
        object-fit: cover;
      }
    }
  }

  .connected-sortable {
    zmargin: 0 auto;
    list-style: none;
  }

  li.draggable-item {
    width: inherit;
    padding: 15px 20px;
    background-color: #f5f5f5;
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
    -moz-transition: box-shadow 0.25s ease-in-out;
    -o-transition: box-shadow 0.25s ease-in-out;
    transition: box-shadow 0.25s ease-in-out;
  }
}

.sectionCRM {
  padding: 200px 0;
  position: relative;
  z-index: 3;

  .crmText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .shadowCRM {
    max-width: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include rectangle(388px, 100%);
    background-image: linear-gradient(to right bottom, #c83b3b, #d85355, #e66a6f, #f38189, #ff98a3);
  }
}

.salesSection {
  .salesText {
    padding: 200px 0;
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color)
    }

    p {
      @include normal-text($font-color);
    }
  }

  .salesMiniImgs {
    display: flex;
    padding-top: 200px;
    position: relative;
    z-index: 23;
    left: 25.5%;
    margin-top: 155px;

    img {
      width: 96px;
      height: 80px;
      display: block;
      margin: 20px;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth {
      position: relative;
      transition: 1000ms linear all;

    }

    .first {
      transform: rotate(14deg);
      margin-top: 100px;
    }

    .second {
      transform: rotate(-15deg);
    }

    .third {
      transform: rotate(-9deg);
      margin-top: 110px;
    }

    .fourth {
      transform: rotate(12deg);
      margin-top: 110px;
    }

    .fifth {
      transform: rotate(-30deg);
    }

    .sixth {
      transform: rotate(39deg);
      margin-top: 110px;
    }
  }

  .salesMaxImg {

    img {
      position: absolute;
      top: 140%;
      width: 100%;
      height: 590px;
      transition: 1000ms linear all;
    }
  }

  .relativeImgContainer {
    position: relative;

    &.hover {
      .salesMaxImg img {
        top: 50%;
        transform: translateY(-50%);
        transition: 1000ms linear all;
      }

      .salesMiniImgs {
        .first,
        .second,
        .third,
        .fourth,
        .fifth,
        .sixth {
          transition: 1000ms linear all;
          transform: rotate(0deg);
          margin: 3.3px;
        }
      }
    }
  }
}

.assignmentSection {
  position: relative;
  z-index: 30;
  background-color: #fff;
  padding: 200px 0;

  .assignText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .allPersons {
    .person-container {
      min-height: 165px;
      margin-bottom: 40px;;

      .personBox {
        display: flex;
        align-items: flex-end;
        background-color: #fff;
        border-radius: 68px;
        height: 123px;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

        img {
          width: 163px;
          height: 163px;
          object-fit: cover;
          margin-left: -13px;
        }

        .personText {
          width: 100%;
          padding: 20px;
          margin-left: 10px;

          .leftSide {
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
          }

          h4 {
            color: $font-color;
            font-size: 23px;
            line-height: 28px;
            margin: 0;
          }

          .stickWidth {
            height: 20px;
            border-radius: 12px;
            background-color: $cubics-blue;
            width: 25px;
            transition: all 1s;

          }

          p {
            font-size: 36px;
            font-weight: bold;
            color: $font-color;
            opacity: 0;
            transition: all 1s;
          }
        }
      }
    }

    &.hover {
      .personBox {
        p {
          opacity: 1 !important;
          transition: all 1s !important;
        }

        .stickWidth {
          &.first {
            width: 90%;
            transition: all 1s;
          }

          &.second {
            width: 55%;
            transition: all 1s;
          }

          &.third {
            width: 76%;
            transition: all 1s;
          }
        }
      }
    }
  }
}

.prjectSection {
  padding-top: 100px;
  background-color: #Fff;

  .projectText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .projectImgs {
    position: relative;

    .phoneProject {
      max-width: 800px;
      height: 800px;
      width: 100%;
      margin-bottom: -130px;
      object-fit: contain;
      position: relative;
      z-index: 2;
    }

    .phoneText {
      max-width: 520px;
      transition: all 1s;
      position: absolute;
      left: 13%;
      top: 100%;
      object-fit: contain;
      width: 100%;

      &.active {
        top: 16%;
        transition: all 1s;
      }
    }
  }
}

.financeSection {
  padding: 200px 0;
  position: relative;
  z-index: 3;

  .financeText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .financeImage {
    position: relative;
    width: 1300px;
    height: 860px;

    .financeMac {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: absolute;
      right: -20%;
      bottom: -10%;
      left: 0;
    }

    .financeForm {
      position: absolute;
      left: 34%;
      top: 57%;
      transform: translate(-50%, -50%);
      height: 500px;
      max-width: 600px;
      width: 100%;
      transition: all 2s;
      opacity: 0;

      &.active {
        opacity: 1;
        top: 55%;
        left: 48%;
      }
    }
  }
}

.documentSection {
  padding: 200px 0;
  position: relative;
  z-index: 2;
  background-color: #fff;

  .documentText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .pyramidImages {
    position: relative;
    max-width: 720px;
    margin: auto;

    .topImages,
    .bottomImages {
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .bottomImages {
      .docsPersonBox {
        margin: 35px;
      }

    }

    .topImages {
      .docsPersonBox {
        margin: 50px;
        position: relative;

        .lineRight,
        .lineLeft {
          height: 60px;
          border-left: 2px dashed #A5A5A5;
          position: absolute;
        }

        .lineLeft {
          left: 0;
          transform: rotate(45deg);
        }

        .lineRight {
          transform: rotate(-45deg);
          right: 0;
        }
      }
    }

    .docsImg {
      width: 137px;
      height: 137px;
      object-fit: cover;
      border-radius: 50%;
      padding: 5px;
      background-color: $bg-gray;
    }

    .docsIcon {
      position: absolute;
      animation-name: docsIcon;
      animation-duration: 10s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      top: 370px;
      left: 180px;
      z-index: 5;
    }
  }
}

.animation-add-remove-class {
  animation-name: border-green;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes docsIcon {
  0% {
    top: 370px;
    left: 180px;
  }
  20% {
    top: 140px;
    left: 265px;
  }
  40% {
    top: 370px;
    left: 390px;
  }
  60% {
    top: 140px;
    left: 500px;
  }
  80% {
    top: 370px;
    left: 590px;
  }
  100% {
    top: 370px;
    left: 180px;
  }
}

@keyframes border-green {
  0% {
    background-color: $bg-gray;
  }
  50% {
    background-color: #53C94F;
  }
  100% {
    background-color: $bg-gray;
  }
  // from{
  // }
  //to{
  // }
}

.smsSection {
  padding: 200px 0;

  .smsText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .smsImgBox {
    position: relative;

    .smsShadow {
      max-width: 600px;
      @include rectangle(570px, 100%);
      background-image: linear-gradient(to right bottom, #c83b3b, #d85355, #e66a6f, #f38189, #ff98a3);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .plane {
      position: absolute;
      top: 45%;
      left: 21%;
      transition: all 1s;
      z-index: 1;
      width: 165px;
      height: 135px;
    }

    .iphone {
      position: relative;
      height: 1000px;

      img {
        position: absolute;
        max-width: 445px;
        height: 100%;
        right: -10%;
        top: 0;
        object-fit: contain;
        transition: all 1s;

        &.first {
          z-index: 2;
        }

        &.second {
          z-index: 3;
          opacity: 0;
        }
      }
    }

    &.active {
      .plane {
        left: 30%;
      }

      .first {
        right: 20%;
        opacity: 0;
      }

      .second {
        right: 20%;
        opacity: 1 !important;
      }
    }
  }
}

.callCenterSection {
  padding: 200px 0;

  .callCenterText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .calcenterImg {
    position: relative;
    height: 870px;
    width: 1200px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: absolute;
      left: -87%;
      transition: all 1.5s;
    }

    .counterBoxContainer {
      position: absolute;
      left: -67%; //-21
      top: 25%;
      max-width: 810px;
      width: 100%;
      z-index: 3;
      transition: all 1.5s;

      .counterBox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .counterMiniBox {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          //justify-content: center;
          margin-bottom: 3px;
          width: 120px;
          height: 80px;

          h6 {
            border-bottom: 1px solid #ddd;
            font-size: 8.5px;
            padding: 5px;
            margin-bottom: 0;
            font-weight: 300;
            text-align: center;
            width: 100%;

            i {
              padding-right: 3px;

            }
          }

          span {
            display: block;
            text-align: center;

            &.span2 {
              font-size: 9px;
            }

            &.span1 {
              font-size: 22px;
            }
          }

          &:first-child i {
            color: $cubics-green;
          }

          &:nth-child(2) i,
          &:last-child i {
            color: $cubics-blue;
          }

          &:nth-child(3) i,
          &:nth-child(5) i {
            color: $cubics-yellow;
          }

          &:nth-child(4) i {
            color: $red-color;
          }
        }
      }
    }

    &.active {
      img {
        left: -41%;
      }

      .counterBoxContainer {
        left: -21%;
      }
    }
  }
}

.analyticsSection {
  padding: 200px 0;

  .analyticsText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .analyticsImg {
    position: relative;

    .imgRect {
      max-width: 650px;
      margin: 10px auto;
      height: 488px;
      object-fit: contain;
      width: 100%;
    }

    .imgRectSecond, .imgRectSeconddiv {
      position: absolute;
      max-width: 650px;
      margin: 10px auto;
      height: 488px;
      object-fit: cover;
      width: 100%;
      //transform: scaleX(1);
      left: 0;
      top: -5px;
      z-index: 5;

    }

    .imgRectSeconddiv {
      transition: all 10s ease-out;
      transform-origin: 100% 50%;
      animation: main .5s;
    }

    .imgRectSecond {
      background-color: #fff;
    }

    .sticks {
      position: absolute;
      max-width: 450px;
      width: 100%;
      height: 488px;
      object-fit: contain;
      left: 20%;
      top: 0;

      img {
        position: absolute;
        width: 100%;
        transition: all 1s;

        &.red {
          top: 25%;
          z-index: 4;
        }

        &.green {
          top: 11%;
          z-index: 3;
        }

        &.yellow {
          top: 41%;
          z-index: 2;
        }

        &.blue {
          top: 40%;
          z-index: 1;
        }
      }
    }

    &.hover {
      .imgRectSeconddiv {
        transform: scaleX(0);
        width: 0;
        left: auto;
        right: 0;
        transition: all 5s ease-out;
      }
    }
  }
}

@keyframes sticks {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes colorful {
  from {
    width: 0%
  }
  to {
    width: 100%
  }
}

.persons {
  .owlBox {
    position: relative;
  }

  padding: 200px 0;

  .owl-person {
    position: relative;
    top: 100%;

    .owl-item.active.center {
      .itemInside {
        //transform: scale(0.4);
        transition: all 1s;
      }
    }

    .owl-item.active.center ~ .owl-item.active {
      position: relative;
      animation-name: rightToLeft;
      animation-duration: 1s;
      animation-delay: 4s;
    }

    .owl-item.active {
      transition: all 1s;
    }

    .item {
      max-width: 330px;
      width: 100%;
      height: 550px;

      .itemInside {
        height: 100%;
        width: 100%;
        transition: all 1s;
        transform: scale(1);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;

      }
    }
  }

  .owl-phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 230px;
      height: 230px;
      object-fit: contain;
    }
  }

  .imgPhone {
    max-width: 300px;
    width: 100%;
    position: absolute;
    height: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    img {
      width: 100%;
    }

    .phone {
      background-color: #fff;
    }
  }
}

.owl-right-element-animation {
  //animation-name: rightToLeft;
  animation-duration: 1s;
  animation-delay: 4s;
}

.owl-left-element-animation {
  animation-name: centerToLeft;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes rightToLeft {
  from {
    transform: scale(1);
    left: 0;
  }
  to {
    transform: scale(1);
    left: -230px;
  }
}

@keyframes centerToLeft {
  from {
    transform: scale(0.4);
    left: 200px;
  }
  to {
    transform: scale(1);
    left: 0;
  }
}

.hrSection {
  padding: 100px 0;

  .hrText {
    @include centerElement;
    max-width: 400px !important;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .hrImg {
    .imgBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      img {
        width: 154px;
        height: 154px;
        object-fit: cover;
        border-radius: 50%;
        margin: 10px 20px;
        position: relative;
        transition: all 2s;

        &.hrFirst {
          left: 18em;
          top: 13em;
        }

        &.hrSecond {
          left: 29em;
          top: 8em;
        }

        &.hrThird {
          left: 18em;
          top: 2em;
        }

        &.hrFourth {
          top: -14em;
          left: 8em;
        }

        &.hrFifth {
          top: -14em;
          left: 29em;
        }

      }

      h4, p {
        font-size: 21px;
        line-height: 25px;
        color: $font-color;
        max-width: 200px;
      }

      h4 {
        font-weight: 600;

      }

      p {
        font-weight: 400;
      }

      .textBox {
        opacity: 0;
        position: relative;
        left: 100%;
        transition: all 3s;
      }

    }

    &.hover {
      .imgBox {
        img {
          left: 0%;
          top: 0%;
        }

        .textBox {
          left: 0%;
          opacity: 1;
        }
      }
    }
  }
}

.warehouseSection {
  padding: 100px 0;
  position: relative;

  .warehouseText {
    max-width: 370px;
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
      text-align: center;
    }

    p {
      @include normal-text($font-color);
      text-align: center;
    }

    .monitor {
      max-width: 329px;
      height: 230px;
    }

    img {
      max-width: 329px;
      height: 230px;
      object-fit: contain;
      transition: all 1s;
      position: absolute;
      top: 9%;
      left: 40%;
      z-index: 3;

      &.frame-hover {
        position: absolute;
        top: 53%;
        z-index: 4;
        left: 30.6%;
        transition: all 1s;
        max-width: 85px;
        height: 60px;
      }
    }
  }

  .mainImg {
    position: relative;
    max-width: 1277px;

    .comp {
      width: 100%;
    }

    .warehouse1-img {
      position: absolute;
      top: 13%;
      left: 23%;
      transition: all .5s;
      z-index: -1;
    }

    .warehouse2-img {
      position: absolute;
      top: 21.7%;
      left: 25.4%;
      background: #fff;
      transition: all .5s;
    }


  }
  &.active {
    .warehouse2-img {
      top: 32.7%;
      transition: all .6s;
    }

    .warehouse1-img {
      transition: all 1s;
      z-index: 1;
    }
    .warehouseText{
      img{
        max-width: 85px;
        height: 60px;
        top: 52%;
        left: 30.8%;
      }
    }
  }
}

.formSection {
  padding: 100px 0;

  h2 {
    font-size: 83px;
    line-height: 101px;
    color: $font-color;
    font-weight: bold;
    max-width: 760px;
    text-align: center;
    margin: 20px auto 100px;
  }

  .building {
    width: 100%;
    height: 720px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .form-box {
    max-width: 1250px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

    .logo {
      max-width: 350px;
      width: 100%;
      height: 90px;
      object-fit: contain;
    }

    .formElements {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      p {
        font-size: 21px;
        line-height: 25px;
        color: #213140;
        margin-top: 20px;
      }

      form {
        max-width: 500px;
        width: 100%;
        margin: 20px auto;
      }

      select {
        padding: 10px;
      }

      input {
        padding: 8px;
      }

      input, select {
        width: 100%;
        border-radius: 14px;
        border: 1px solid #C5C5C5;
        margin: 20px 0;
        color: $font-color;
        outline: none;

        &::placeholder {
          color: $font-color;
          opacity: .5;
        }
      }

      button {
        width: 100%;
        outline: none;
        border-radius: 14px;

        padding: 25px;
        color: #fff;
        border: none;
        color: #fff;
        font-size: 22px;
        line-height: 27px;
        margin-top: 30px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        font-weight: bold;
      }

      .bms {
        background-color: #EF6567;
      }

      .brands {
        background-color: $cubics-yellow;
      }

      .pos {
        background-color: $cubics-green;
      }

      .tech {
        background-color: $darkblue;
      }
    }
  }
}

.blog {
  padding: 50px 0;
  background-color: #F6F6F6;

  .container {
    max-width: 1730px;
  }

  .blog-box {
    max-width: 380px;
    margin: 20px auto;

    img {
      max-width: 380px;
      width: 100%;
      height: 235px;
      border-top-left-radius: 27px;
      border-top-right-radius: 27px;
      opacity: 0.5;
      object-fit: cover;
      transition: all 1s;
    }

    .blog-text {
      border-bottom-left-radius: 27px;
      border-bottom-right-radius: 27px;
      background-color: #fff;
      padding: 20px;

      h4 {
        font-size: 24px;
        font-weight: bold;
        line-height: 29px;
        color: $font-color;
        @include text-overflow(1, 29px)
      }

      p {
        font-size: 16px;
        font-weight: normal;
        line-height: 19px;
        color: $font-color;
        @include text-overflow(3, 60px)
      }

      span {
        font-size: 12px;
        color: $font-color;
        line-height: 15px;
      }
    }

    &:hover {
      img {
        opacity: 1;
        transition: all 1s;
      }
    }
  }

  .read-more {
    text-align: right;
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: $font-color;
    margin: 20px;
  }
}

footer {
  background-color: $darkblue;
  padding: 70px 0;

  .footer-box {
    max-width: 1320px;
    margin: auto;

    h4 {
      color: #fff;
      font-size: 26px;
      line-height: 31px;
    }

    p {
      font-size: 21px;
      line-height: 26px;
      color: #fff;
    }

    .footer-social {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 0;

      li {
        list-style: none;
      }

      a {
        width: 40px;
        height: 40px;
        display: block;
        background-color: #F3F3F3;
        font-size: 22px;
        color: $font-color;
        margin: 10px;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .footer-link {
      li {
        list-style: none;

        a {
          padding: 10px;
          color: #fff;
          font-size: 21px;
          display: block;
          line-height: 26px;

          &:hover {
            opacity: .7;
          }
        }
      }
    }

    .line {
      width: 100%;
      height: 3px;
      background-color: #fff;
      margin: 10px 0;
    }
  }
}

.videoBg {
  background-color: $bg-gray;
  position: relative;
  z-index: 6;

  .cover {
    .coverVideo {
      display: flex;
      justify-content: center;
      align-items: center;

      .shadow {
        position: absolute;
        height: 1000px;
        max-width: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .2);
        transition: 1000ms linear all;
        cursor: pointer;
      }

      h5 {
        font-size: 74px;
        font-weight: bold;
        line-height: 91px;
        color: #fff;
        position: absolute;
        top: 50%;
        max-width: 1000px;
        width: 100%;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .img {

        height: 1000px;
        max-width: 100%;
        width: 100%;
        transition: 1000ms linear all;
        object-fit: cover;
      }

      .play {
        position: absolute;
        bottom: 25%;
      }

    }
  }

  &.videoScroll {
    padding: 100px 0;

    .shadow {
      border-radius: 174px;
      height: 895px !important;
      max-width: 1630px !important;
      width: 100% !important;
      top: unset !important;
      left: unset !important;
    }

    .img {
      border-radius: 174px;
      height: 895px !important;
      max-width: 1630px !important;
      width: 100% !important;
    }
  }

  .cover video {
    opacity: 0;
    max-width: 1630px;
    //border-radius: 174px;
    height: 895px;
    width: 100%;
    padding: 55px;
    background-color: $bg-gray;
    transition: 1000ms linear all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
  }
}

.brandsSection {
  padding: 100px 0;

  .shopStore {
    padding: 100px 0;

    .shopText {
      @include centerElement;
      margin: auto;

      h2 {
        @include normal-title-h2($darkblue);
      }

      p {
        @include normal-text($darkblue);
      }
    }

    .shopImg {
      position: relative;


      .shop {
        max-width: 716px;
        height: 538px;
        object-fit: cover;
        border-radius: 53px;
      }

      .girl {
        position: absolute;
        left: 15%;
        bottom: 0;
        max-width: 368px;
        width: 100%;
        height: 597px;
        transition: 1s all ease-out;
      }

      .blur {
        max-width: 757px;
        height: 557px;
        width: 100%;
        border-radius: 53px;
        object-fit: cover;
      }

      .hands {
        position: absolute;
        max-width: 517px;
        width: 100%;
        height: 613px;
        bottom: 0;
        right: 45px;
        transition: all 1s;

        &.activeHand {
          right: 20%;
        }
      }

      .tablet {
        position: absolute;
        left: -20%;
        transition: all 1.5s;
        max-width: 615px;
        width: 100%;
        height: 600px;
        object-fit: contain;
      }

      .phone {
        position: absolute;
        right: 20%;
        max-width: 216px;
        width: 100%;
        height: 391px;
        transition: all 1.5s;
        object-fit: contain;
        top: 102px;

      }

      .mac {
        width: 100%;
        height: 600px;
        object-fit: contain;
      }

      &.activeGirl {
        .girl {
          left: 35%;
        }
      }

      &.tabletImg {
        height: 550px;

        &.active {
          .tablet {
            left: 18%;
          }

          .phone {
            right: 0%;
          }
        }
      }
    }
  }

  .stick {
    max-width: 812px;
    height: 357px;
    margin: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}


.imagesLight {
  padding: 200px 0;

  .imgTop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    position: relative;

    img {
      max-width: 170px;
      height: auto;
      padding: 10px;
      object-fit: contain;
    }

    .topLine {
      display: block;
      height: 50px;
      border-left: 2px dashed $font-color;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -30%;
      &:after{
        content: '';
        display: block;
        position: absolute;
        margin-left: -2px;
        width: 2px;
        height: 0px;
        border-left: 2px dashed $cubics-green;
        z-index: 3;
      }
      &.posline{
        &:after{
          height: 50px;
          transition: height 0.25s ease-out 0.25s;
        }
      }
    }
  }

  .imgMiddle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px 0;
    position: relative;

    img {
      padding: 20px;
      max-width: 300px;
      height: auto;
      object-fit: contain;
    }

    .leftLine {
      position: absolute;
      top: 17%;
      left: 26%;
      width: 80px;
      height: 30px;
      border-left: 2px dashed $font-color;
      border-top: 2px dashed $font-color;
      &:after{
        content: '';
        display: block;
        position: absolute;
        margin-top: -2px;
        margin-left: -2px;
        width: 0px;
        height: 0px;
        border-left: 2px dashed $cubics-green;
        border-top: 2px dashed $cubics-green;
        z-index: 3;
      }
      &.posline{
        &:after{
          width: 80px;
          height: 30px;
          transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
        }
      }
    }

    .rightLine {
      width: 50px;
      position: absolute;
      border-top: 2px dashed $font-color;
      right: 20%;
      top: 50%;
      &:after{
        content: '';
        display: block;
        position: absolute;
        margin-top: -2px;
        width: 0px;
        border-top: 2px dashed $cubics-green;
        z-index: 3;
      }
      &.posline{
        &:after{
          width: 50px;
          transition: width 0.25s ease-out 0.25s;
        }
      }
    }

    .bottomLine {
      height: 30px;
      width: 20px;
      border-left: 2px dashed $font-color;
      border-right: 2px dashed $font-color;
      position: absolute;
      bottom: -10%;
      left: 55.5%;
      &:after{
        content: '';
        display: block;
        position: absolute;
        margin-left: -2px;
        width: 20px;
        height: 0px;
        border-left: 2px dashed $cubics-green;
        border-right: 2px dashed $cubics-green;
        z-index: 3;
      }
      &.posline{
        &:after{
          height: 30px;
          width: 20px;
          transition:height 0.25s ease-out 0.25s, width 0.25s ease-out 0.25s;
        }
      }
    }
  }

  .imgBottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 0;
    position: relative;

    img {
      max-width: 250px;
      height: auto;
      object-fit: contain;
      padding: 10px;
      margin-left: 20px;
    }

    .bottomLeftLine {
      width: 40px;
      border-top: 2px dashed $font-color;
      position: absolute;
      bottom: 45%;
      right: 23%;
      &:after{
        content: '';
        display: block;
        position: absolute;
        margin-top: -2px;
        width: 0px;;
        border-bottom: 2px dashed $cubics-green;
        z-index: 3;
      }
      &.posline{
        &:after{
          width: 40px;
          transition:height 0.25s ease-out 0.25s, width 0.25s ease-out 0.25s;
        }
      }
    }

    .bottomTopLine {
      height: 40px;
      border-left: 2px dashed $font-color;
      position: absolute;
      top: -32%;
      right: 12%;
      &:after{
        content: '';
        display: block;
        position: absolute;
        margin-left: -2px;
        height:0px;
        border-left: 2px dashed $cubics-green;
        z-index: 3;
      }
      &.posline{
        &:after{
          height: 40px;
          transition:height 0.25s ease-out 0.25s;
        }
      }
    }
  }
}

.bordercolor {
  border-color: $cubics-green !important;
}

.posText {
  @include centerElement;

  h2 {
    @include normal-title-h2($darkblue)
  }

  p {
    @include normal-text($darkblue)
  }
}

.greenImsSection {
  padding: 200px 0;

  .greenImg {
    position: relative;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      position: relative;
      z-index: 2;
    }

    .shadowPos {
      max-width: 620px;
      @include rectangle(535px, 100%);
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $cubics-green;

    }
  }
}

.tabsSection {
  padding: 200px 0;

  .nav-tabs {
    display: flex;
    justify-content: space-between;
    background-color: $bg-gray;
    padding: 10px;
    border: none;
    border-radius: 43px;

    .nav-item.show .nav-link, .nav-link.active, .nav-link {
      border-radius: 43px;
      padding: 10px;
      width: 190px;
      display: block;
      text-align: center;
      border: none;
    }

    .nav-link {
      color: #5E5E5E;
    }
  }

  .navImg {
    position: relative;
    max-width: 1100px;
    margin: 100px auto 0;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      position: relative;
      z-index: 3;
    }

    .shadowNav {
      @include rectangle(544px, 100%);
      position: absolute;
      background-color: $cubics-green;
      bottom: 0;
    }
  }
}


.greenImgmini {
  position: relative;

  .topImg {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;

    img {
      max-width: 325px;
      display: block;
      object-fit: contain;
    }
  }

  .bottomImg {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .imgBox {
      position: relative;

      .shadow {
        max-width: 156px;
        @include rectangle(156px, 100%);
        background-color: #199B82;
        border-radius: 8px !important;
        position: absolute;
        right: 20px;
        bottom: 40px;
      }

      &::after {
        display: block;
        content: ' ';
        height: 70px;
        border-left: 1px dashed $font-color;
        position: absolute;
        top: -65%;
        left: 50%;
      }

      &:first-child {
        &::after {
          left: 80%;
          transform: rotate(45deg);
        }
      }

      &:last-child {
        &::after {
          left: 30%;
          transform: rotate(-45deg);
        }
      }
    }

    img {
      max-width: 250px;
      object-fit: contain;
      display: block;
      position: relative;
      z-index: 3;
    }

  }
}

.cubics-products {
  padding: 200px 0;

  .product-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  h2 {
    @include normal-title-h2($font-color);
    max-width: 400px;
  }

  .product-box {
    margin: 40px auto;

    .productImg {
      border-radius: 45px;
      max-width: 274px;
      height: 274px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transform: rotate(-90deg);
      transition: all 0.5s;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0;
        transition: all 0.5s;
        position: absolute;
      }

      &.first {
        border: 10px solid #E64D3C;
      }

      &.second {
        border: 10px solid $cubics-yellow;
      }

      &.third {
        border: 10px solid $cubics-green;
      }

      &.hover {
        transform: rotate(0deg);
        transition: all 1.5s;
        border-color: transparent;

        img {
          opacity: 1;
          transition: all 1s;
        }

      }
    }


    .productText {
      //margin-top: 30px;
      max-width: 274px;
      text-align: center;
      color: $darkblue;
    }

    h5 {
      font-size: 24px;
      line-height: 29px;
      font-weight: 600;
    }

    p {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.ecoSystem {
  padding: 200px 0;

  .ecoSystemText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .ecoImg {
    position: relative;

    .mainImg {
      width: 100%;
    }

    img {
      transition: all 1s;
    }

    .blue {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 113px;
        height: 113px;
        object-fit: contain;
      }
    }

    .red {
      position: absolute;
      left: -40px;
      top: 90%;
      width: 89px;
      height: 89px;
      object-fit: contain;
    }

    .green {
      position: absolute;
      right: 60px;
      bottom: 55px;
      width: 61px;
      height: 61px;
      object-fit: contain;

    }

    .yellow {
      position: absolute;
      left: 150px;
      top: 140px;
      width: 57px;
      height: 54px;
      object-fit: contain;

    }

    &.hover {
      transition: 2s all;

      .blue {
        img {
          transform: rotate(90deg);
        }
      }

      .red {
        top: 200px;
      }

      .yellow {
        left: 70%;
      }

      .green {
        right: 42%;
      }
    }
  }
}

.advantagesTech {
  padding: 200px 0;

  .advantagesText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }

    ul {
      padding-left: 0;

      li {
        list-style: none;
        @include normal-text($font-color);
        padding: 10px 0;

        &:before {
          content: ' ';
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 4px;
          border: 2px solid $cubics-blue2;
        }
      }
    }
  }

  .rectangle-box {
    position: relative;
    max-width: 480px;
    margin: auto;
    height: 480px;
    flex-wrap: wrap;
    display: flex;

    .blue-rectangle,
    .red-rectangle,
    .green-rectangle,
    .yellow-rectangle {
      content: ' ';
      border-radius: 33px;
      display: inline-block;
      position: absolute;
      width: 100%;
      transition: all .5s;
    }

    .blue-rectangle {
      max-width: 175px;
      height: 284px;
      top: 0;
      left: 0;
    }

    .green-rectangle {
      max-width: 285px;
      height: 265px;
      top: 0;
      right: 0;
    }

    .red-rectangle {
      max-width: 175px;
      height: 174px;
      left: 0;
      bottom: 0;
    }

    .yellow-rectangle {
      max-width: 285px;
      height: 197px;
      bottom: 0;
      right: 0;
    }

    .blue-pos-1 {
      max-width: 73%;
      height: 284px;
    }

    .green-pos-1 {
      max-width: 23%;
      height: 284px;
    }

    .red-pos-1 {
      max-width: 60%;
      height: 174px;
    }

    .yellow-pos-1 {
      max-width: 36%;
      height: 174px;
    }

    .blue-pos-2 {
      max-width: 23%;
      height: 284px;
    }

    .green-pos-2 {
      max-width: 73%;
      height: 284px;
    }

    .red-pos-2 {
      max-width: 36%;
      height: 174px;
    }

    .yellow-pos-2 {
      max-width: 60%;
      height: 174px;
    }

    .blue-pos-3 {
      max-width: 36%;
      height: 174px;
    }

    .green-pos-3 {
      max-width: 60%;
      height: 174px;
    }

    .red-pos-3 {
      max-width: 23%;
      height: 284px;
    }

    .yellow-pos-3 {
      max-width: 73%;
      height: 284px;
    }

    .blue-pos-4 {
      max-width: 60%;
      height: 174px;
    }

    .green-pos-4 {
      max-width: 36%;
      height: 174px;
    }

    .red-pos-4 {
      max-width: 73%;
      height: 284px;
    }

    .yellow-pos-4 {
      max-width: 23%;
      height: 284px;
    }
  }
}

.about-section {
  padding: 200px 0;

  .aboutText {
    @include centerElement;

    h2 {
      @include normal-title-h2($font-color);
    }

    p {
      @include normal-text($font-color);
    }
  }

  .about-img-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 53px;

    .about-img {
      height: 100%;
      transition: all 2s;

      &.hover {
        background-position: -50%;
        transform: scale(4);
      }
    }
  }

}

.secondary-title {
  @include normal-title-h2($font-color)
}

.news {
  margin: 30px 0;
  padding: 30px 0;
  background-color: #F9F9F9;
}

.logo-slider {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.logo-slider:hover div {
  animation-play-state: paused;
}

.logo-slider div {
  display: flex;
  position: relative;
  animation: logo-slider 20s linear infinite;
  justify-content: space-around;
}

.logo-slider img {
  display: block;
  margin-left: 40px;
  object-fit: scale-down;
  width: 110px;
  height: 100px;
}

.logo-slider:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), white);
}

@keyframes logo-slider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.brands-carousel {
  position: relative;
  background-color: $bg-gray;

  .logo-slider:hover div {
    animation-play-state: running;
  }

  .logo-slider img {
    width: 135px;
    height: 135px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .mainImgFade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .46);

    .owl-brands {
      max-width: 350px;
      height: 350px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 30px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      z-index: 5;
      background-color: #fff;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
      }

      img {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 30px;
        object-fit: contain;

      }

    }
  }
}

