* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.bg-gray {
  background-color: #F3F3F3;
}

.bg-red {
  background-image: linear-gradient(to right bottom, #c83b3b, #d85355, #e66a6f, #f38189, #ff98a3);
}

.bg-green {
  background-image: linear-gradient(to right bottom, #2abb9b, #33c4a4, #3bcead, #42d7b7, #4ae1c0);
}

.bg-blue {
  background-image: linear-gradient(to right bottom, #3798d3, #4fa6dd, #65b4e7, #79c2f1, #8cd0fb);
}

.bg-yellow {
  background-image: linear-gradient(to right bottom, #f29d1f, #f5af39, #f8c151, #fbd268, #ffe281);
}

header {
  padding: 20px 0;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
}
header .navBox {
  display: flex;
  justify-content: space-between;
}
header .navBox img {
  width: 226px;
  height: 56px;
  object-fit: contain;
}
header .navBox .nav-item a {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #fff !important;
}
header .headerSection {
  padding: 100px 0;
}
header .headerSection .headerText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
  max-width: 100% !important;
}
header .headerSection .headerText h1 {
  font-size: 66px;
  font-weight: 600;
  line-height: 81px;
  color: #fff;
}
header .headerSection .headerText p {
  margin-top: 20px;
  width: 60%;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #fff !important;
}
header .headerSection .headerText a {
  font-size: 24px;
  font-weight: 600;
  border-radius: 24px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 250px;
  padding: 8px;
  margin-top: 30px;
  transition: all 1s;
}
header .headerSection .headerText a:hover {
  background-color: #fff;
  transition: all 1s;
}
header .headerSection .headerText a:hover.brand-header {
  color: #F29D1F;
}
header .headerSection .headerText a:hover.bms-header {
  color: #C83B3B;
}
header .headerSection .headerText a:hover.pos-header {
  color: #5DCAB3;
}
header .headerSection .headerText a:hover.tech-header {
  color: #3798D3;
}
header .headerSection .headerImg {
  position: relative;
}
header .headerSection .headerImg .frameImg {
  width: 95%;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}
header .headerSection .headerImg .headerMainImg {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
header .headerSection .headerImg .headerMainImg.techImg {
  height: 680px;
  object-fit: contain;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.secondSection {
  background-color: #fff;
  padding: 100px 0;
}
.secondSection .secondImg {
  position: relative;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 1s;
}
.secondSection .secondImg img {
  max-width: 550px;
  height: 840px;
  object-fit: contain;
  position: relative;
  z-index: 2;
  width: 100%;
}
.secondSection .secondImg .mainShape {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 750px;
  border-radius: 70px;
  height: 700px;
  width: 100%;
  background-image: linear-gradient(to right bottom, #c83b3b, #d85355, #e66a6f, #f38189, #ff98a3);
}
.secondSection .secondText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
  position: relative;
  right: -150%;
  opacity: 0;
  transition: 1000ms linear all;
  max-width: 460px !important;
}
.secondSection .secondText h2 {
  color: #2E4051;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.secondSection .secondText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #2E4051 !important;
}

.customizableInterface {
  padding: 200px 0;
  position: relative;
  z-index: 3;
}
.customizableInterface .thirdSectionFlex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.customizableInterface .thirdSectionFlex h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.customizableInterface .thirdSectionFlex p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.customizableInterface .thirdImg {
  position: relative;
}
.customizableInterface .thirdImg .thirdShadow {
  max-width: 600px;
  border-radius: 70px;
  height: 570px;
  width: 100%;
  background-image: linear-gradient(to right bottom, #c83b3b, #d85355, #e66a6f, #f38189, #ff98a3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.customizableInterface .thirdImg .miniFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customizableInterface .thirdImg .miniFlex div {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 3px;
}
.customizableInterface .thirdImg .miniFlex img {
  max-width: 200px;
  height: 100px;
  width: 100%;
}
.customizableInterface .thirdImg .maxFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customizableInterface .thirdImg .maxFlex div {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 3px;
}
.customizableInterface .thirdImg .maxFlex img {
  max-width: 412px;
  width: 100%;
  height: 211px;
  object-fit: cover;
}
.customizableInterface .connected-sortable {
  zmargin: 0 auto;
  list-style: none;
}
.customizableInterface li.draggable-item {
  width: inherit;
  padding: 15px 20px;
  background-color: #f5f5f5;
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  -webkit-transition: box-shadow 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
}

.sectionCRM {
  padding: 200px 0;
  position: relative;
  z-index: 3;
}
.sectionCRM .crmText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.sectionCRM .crmText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.sectionCRM .crmText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.sectionCRM .shadowCRM {
  max-width: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 70px;
  height: 388px;
  width: 100%;
  background-image: linear-gradient(to right bottom, #c83b3b, #d85355, #e66a6f, #f38189, #ff98a3);
}

.salesSection .salesText {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.salesSection .salesText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.salesSection .salesText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.salesSection .salesMiniImgs {
  display: flex;
  padding-top: 200px;
  position: relative;
  z-index: 23;
  left: 25.5%;
  margin-top: 155px;
}
.salesSection .salesMiniImgs img {
  width: 96px;
  height: 80px;
  display: block;
  margin: 20px;
}
.salesSection .salesMiniImgs .first,
.salesSection .salesMiniImgs .second,
.salesSection .salesMiniImgs .third,
.salesSection .salesMiniImgs .fourth,
.salesSection .salesMiniImgs .fifth,
.salesSection .salesMiniImgs .sixth {
  position: relative;
  transition: 1000ms linear all;
}
.salesSection .salesMiniImgs .first {
  transform: rotate(14deg);
  margin-top: 100px;
}
.salesSection .salesMiniImgs .second {
  transform: rotate(-15deg);
}
.salesSection .salesMiniImgs .third {
  transform: rotate(-9deg);
  margin-top: 110px;
}
.salesSection .salesMiniImgs .fourth {
  transform: rotate(12deg);
  margin-top: 110px;
}
.salesSection .salesMiniImgs .fifth {
  transform: rotate(-30deg);
}
.salesSection .salesMiniImgs .sixth {
  transform: rotate(39deg);
  margin-top: 110px;
}
.salesSection .salesMaxImg img {
  position: absolute;
  top: 140%;
  width: 100%;
  height: 590px;
  transition: 1000ms linear all;
}
.salesSection .relativeImgContainer {
  position: relative;
}
.salesSection .relativeImgContainer.hover .salesMaxImg img {
  top: 50%;
  transform: translateY(-50%);
  transition: 1000ms linear all;
}
.salesSection .relativeImgContainer.hover .salesMiniImgs .first,
.salesSection .relativeImgContainer.hover .salesMiniImgs .second,
.salesSection .relativeImgContainer.hover .salesMiniImgs .third,
.salesSection .relativeImgContainer.hover .salesMiniImgs .fourth,
.salesSection .relativeImgContainer.hover .salesMiniImgs .fifth,
.salesSection .relativeImgContainer.hover .salesMiniImgs .sixth {
  transition: 1000ms linear all;
  transform: rotate(0deg);
  margin: 3.3px;
}

.assignmentSection {
  position: relative;
  z-index: 30;
  background-color: #fff;
  padding: 200px 0;
}
.assignmentSection .assignText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.assignmentSection .assignText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.assignmentSection .assignText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.assignmentSection .allPersons .person-container {
  min-height: 165px;
  margin-bottom: 40px;
}
.assignmentSection .allPersons .person-container .personBox {
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  border-radius: 68px;
  height: 123px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.assignmentSection .allPersons .person-container .personBox img {
  width: 163px;
  height: 163px;
  object-fit: cover;
  margin-left: -13px;
}
.assignmentSection .allPersons .person-container .personBox .personText {
  width: 100%;
  padding: 20px;
  margin-left: 10px;
}
.assignmentSection .allPersons .person-container .personBox .personText .leftSide {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.assignmentSection .allPersons .person-container .personBox .personText h4 {
  color: #707070;
  font-size: 23px;
  line-height: 28px;
  margin: 0;
}
.assignmentSection .allPersons .person-container .personBox .personText .stickWidth {
  height: 20px;
  border-radius: 12px;
  background-color: #7ECCE9;
  width: 25px;
  transition: all 1s;
}
.assignmentSection .allPersons .person-container .personBox .personText p {
  font-size: 36px;
  font-weight: bold;
  color: #707070;
  opacity: 0;
  transition: all 1s;
}
.assignmentSection .allPersons.hover .personBox p {
  opacity: 1 !important;
  transition: all 1s !important;
}
.assignmentSection .allPersons.hover .personBox .stickWidth.first {
  width: 90%;
  transition: all 1s;
}
.assignmentSection .allPersons.hover .personBox .stickWidth.second {
  width: 55%;
  transition: all 1s;
}
.assignmentSection .allPersons.hover .personBox .stickWidth.third {
  width: 76%;
  transition: all 1s;
}

.prjectSection {
  padding-top: 100px;
  background-color: #Fff;
}
.prjectSection .projectText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.prjectSection .projectText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.prjectSection .projectText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.prjectSection .projectImgs {
  position: relative;
}
.prjectSection .projectImgs .phoneProject {
  max-width: 800px;
  height: 800px;
  width: 100%;
  margin-bottom: -130px;
  object-fit: contain;
  position: relative;
  z-index: 2;
}
.prjectSection .projectImgs .phoneText {
  max-width: 520px;
  transition: all 1s;
  position: absolute;
  left: 13%;
  top: 100%;
  object-fit: contain;
  width: 100%;
}
.prjectSection .projectImgs .phoneText.active {
  top: 16%;
  transition: all 1s;
}

.financeSection {
  padding: 200px 0;
  position: relative;
  z-index: 3;
}
.financeSection .financeText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.financeSection .financeText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.financeSection .financeText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.financeSection .financeImage {
  position: relative;
  width: 1300px;
  height: 860px;
}
.financeSection .financeImage .financeMac {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  right: -20%;
  bottom: -10%;
  left: 0;
}
.financeSection .financeImage .financeForm {
  position: absolute;
  left: 34%;
  top: 57%;
  transform: translate(-50%, -50%);
  height: 500px;
  max-width: 600px;
  width: 100%;
  transition: all 2s;
  opacity: 0;
}
.financeSection .financeImage .financeForm.active {
  opacity: 1;
  top: 55%;
  left: 48%;
}

.documentSection {
  padding: 200px 0;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.documentSection .documentText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.documentSection .documentText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.documentSection .documentText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.documentSection .pyramidImages {
  position: relative;
  max-width: 720px;
  margin: auto;
}
.documentSection .pyramidImages .topImages,
.documentSection .pyramidImages .bottomImages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.documentSection .pyramidImages .bottomImages .docsPersonBox {
  margin: 35px;
}
.documentSection .pyramidImages .topImages .docsPersonBox {
  margin: 50px;
  position: relative;
}
.documentSection .pyramidImages .topImages .docsPersonBox .lineRight,
.documentSection .pyramidImages .topImages .docsPersonBox .lineLeft {
  height: 60px;
  border-left: 2px dashed #A5A5A5;
  position: absolute;
}
.documentSection .pyramidImages .topImages .docsPersonBox .lineLeft {
  left: 0;
  transform: rotate(45deg);
}
.documentSection .pyramidImages .topImages .docsPersonBox .lineRight {
  transform: rotate(-45deg);
  right: 0;
}
.documentSection .pyramidImages .docsImg {
  width: 137px;
  height: 137px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  background-color: #F3F3F3;
}
.documentSection .pyramidImages .docsIcon {
  position: absolute;
  animation-name: docsIcon;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 370px;
  left: 180px;
  z-index: 5;
}

.animation-add-remove-class {
  animation-name: border-green;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes docsIcon {
  0% {
    top: 370px;
    left: 180px;
  }
  20% {
    top: 140px;
    left: 265px;
  }
  40% {
    top: 370px;
    left: 390px;
  }
  60% {
    top: 140px;
    left: 500px;
  }
  80% {
    top: 370px;
    left: 590px;
  }
  100% {
    top: 370px;
    left: 180px;
  }
}
@keyframes border-green {
  0% {
    background-color: #F3F3F3;
  }
  50% {
    background-color: #53C94F;
  }
  100% {
    background-color: #F3F3F3;
  }
}
.smsSection {
  padding: 200px 0;
}
.smsSection .smsText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.smsSection .smsText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.smsSection .smsText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.smsSection .smsImgBox {
  position: relative;
}
.smsSection .smsImgBox .smsShadow {
  max-width: 600px;
  border-radius: 70px;
  height: 570px;
  width: 100%;
  background-image: linear-gradient(to right bottom, #c83b3b, #d85355, #e66a6f, #f38189, #ff98a3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.smsSection .smsImgBox .plane {
  position: absolute;
  top: 45%;
  left: 21%;
  transition: all 1s;
  z-index: 1;
  width: 165px;
  height: 135px;
}
.smsSection .smsImgBox .iphone {
  position: relative;
  height: 1000px;
}
.smsSection .smsImgBox .iphone img {
  position: absolute;
  max-width: 445px;
  height: 100%;
  right: -10%;
  top: 0;
  object-fit: contain;
  transition: all 1s;
}
.smsSection .smsImgBox .iphone img.first {
  z-index: 2;
}
.smsSection .smsImgBox .iphone img.second {
  z-index: 3;
  opacity: 0;
}
.smsSection .smsImgBox.active .plane {
  left: 30%;
}
.smsSection .smsImgBox.active .first {
  right: 20%;
  opacity: 0;
}
.smsSection .smsImgBox.active .second {
  right: 20%;
  opacity: 1 !important;
}

.callCenterSection {
  padding: 200px 0;
}
.callCenterSection .callCenterText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.callCenterSection .callCenterText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.callCenterSection .callCenterText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.callCenterSection .calcenterImg {
  position: relative;
  height: 870px;
  width: 1200px;
}
.callCenterSection .calcenterImg img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: -87%;
  transition: all 1.5s;
}
.callCenterSection .calcenterImg .counterBoxContainer {
  position: absolute;
  left: -67%;
  top: 25%;
  max-width: 810px;
  width: 100%;
  z-index: 3;
  transition: all 1.5s;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3px;
  width: 120px;
  height: 80px;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox h6 {
  border-bottom: 1px solid #ddd;
  font-size: 8.5px;
  padding: 5px;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  width: 100%;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox h6 i {
  padding-right: 3px;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox span {
  display: block;
  text-align: center;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox span.span2 {
  font-size: 9px;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox span.span1 {
  font-size: 22px;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox:first-child i {
  color: #5DCAB3;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox:nth-child(2) i, .callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox:last-child i {
  color: #7ECCE9;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox:nth-child(3) i, .callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox:nth-child(5) i {
  color: #F29D1F;
}
.callCenterSection .calcenterImg .counterBoxContainer .counterBox .counterMiniBox:nth-child(4) i {
  color: #C83B3B;
}
.callCenterSection .calcenterImg.active img {
  left: -41%;
}
.callCenterSection .calcenterImg.active .counterBoxContainer {
  left: -21%;
}

.analyticsSection {
  padding: 200px 0;
}
.analyticsSection .analyticsText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.analyticsSection .analyticsText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.analyticsSection .analyticsText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.analyticsSection .analyticsImg {
  position: relative;
}
.analyticsSection .analyticsImg .imgRect {
  max-width: 650px;
  margin: 10px auto;
  height: 488px;
  object-fit: contain;
  width: 100%;
}
.analyticsSection .analyticsImg .imgRectSecond, .analyticsSection .analyticsImg .imgRectSeconddiv {
  position: absolute;
  max-width: 650px;
  margin: 10px auto;
  height: 488px;
  object-fit: cover;
  width: 100%;
  left: 0;
  top: -5px;
  z-index: 5;
}
.analyticsSection .analyticsImg .imgRectSeconddiv {
  transition: all 10s ease-out;
  transform-origin: 100% 50%;
  animation: main 0.5s;
}
.analyticsSection .analyticsImg .imgRectSecond {
  background-color: #fff;
}
.analyticsSection .analyticsImg .sticks {
  position: absolute;
  max-width: 450px;
  width: 100%;
  height: 488px;
  object-fit: contain;
  left: 20%;
  top: 0;
}
.analyticsSection .analyticsImg .sticks img {
  position: absolute;
  width: 100%;
  transition: all 1s;
}
.analyticsSection .analyticsImg .sticks img.red {
  top: 25%;
  z-index: 4;
}
.analyticsSection .analyticsImg .sticks img.green {
  top: 11%;
  z-index: 3;
}
.analyticsSection .analyticsImg .sticks img.yellow {
  top: 41%;
  z-index: 2;
}
.analyticsSection .analyticsImg .sticks img.blue {
  top: 40%;
  z-index: 1;
}
.analyticsSection .analyticsImg.hover .imgRectSeconddiv {
  transform: scaleX(0);
  width: 0;
  left: auto;
  right: 0;
  transition: all 5s ease-out;
}

@keyframes sticks {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes colorful {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.persons {
  padding: 200px 0;
}
.persons .owlBox {
  position: relative;
}
.persons .owl-person {
  position: relative;
  top: 100%;
}
.persons .owl-person .owl-item.active.center .itemInside {
  transition: all 1s;
}
.persons .owl-person .owl-item.active.center ~ .owl-item.active {
  position: relative;
  animation-name: rightToLeft;
  animation-duration: 1s;
  animation-delay: 4s;
}
.persons .owl-person .owl-item.active {
  transition: all 1s;
}
.persons .owl-person .item {
  max-width: 330px;
  width: 100%;
  height: 550px;
}
.persons .owl-person .item .itemInside {
  height: 100%;
  width: 100%;
  transition: all 1s;
  transform: scale(1);
}
.persons .owl-person .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.persons .owl-phone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.persons .owl-phone img {
  width: 230px;
  height: 230px;
  object-fit: contain;
}
.persons .imgPhone {
  max-width: 300px;
  width: 100%;
  position: absolute;
  height: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.persons .imgPhone img {
  width: 100%;
}
.persons .imgPhone .phone {
  background-color: #fff;
}

.owl-right-element-animation {
  animation-duration: 1s;
  animation-delay: 4s;
}

.owl-left-element-animation {
  animation-name: centerToLeft;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes rightToLeft {
  from {
    transform: scale(1);
    left: 0;
  }
  to {
    transform: scale(1);
    left: -230px;
  }
}
@keyframes centerToLeft {
  from {
    transform: scale(0.4);
    left: 200px;
  }
  to {
    transform: scale(1);
    left: 0;
  }
}
.hrSection {
  padding: 100px 0;
}
.hrSection .hrText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
  max-width: 400px !important;
}
.hrSection .hrText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.hrSection .hrText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.hrSection .hrImg .imgBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.hrSection .hrImg .imgBox img {
  width: 154px;
  height: 154px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 20px;
  position: relative;
  transition: all 2s;
}
.hrSection .hrImg .imgBox img.hrFirst {
  left: 18em;
  top: 13em;
}
.hrSection .hrImg .imgBox img.hrSecond {
  left: 29em;
  top: 8em;
}
.hrSection .hrImg .imgBox img.hrThird {
  left: 18em;
  top: 2em;
}
.hrSection .hrImg .imgBox img.hrFourth {
  top: -14em;
  left: 8em;
}
.hrSection .hrImg .imgBox img.hrFifth {
  top: -14em;
  left: 29em;
}
.hrSection .hrImg .imgBox h4, .hrSection .hrImg .imgBox p {
  font-size: 21px;
  line-height: 25px;
  color: #707070;
  max-width: 200px;
}
.hrSection .hrImg .imgBox h4 {
  font-weight: 600;
}
.hrSection .hrImg .imgBox p {
  font-weight: 400;
}
.hrSection .hrImg .imgBox .textBox {
  opacity: 0;
  position: relative;
  left: 100%;
  transition: all 3s;
}
.hrSection .hrImg.hover .imgBox img {
  left: 0%;
  top: 0%;
}
.hrSection .hrImg.hover .imgBox .textBox {
  left: 0%;
  opacity: 1;
}

.warehouseSection {
  padding: 100px 0;
  position: relative;
}
.warehouseSection .warehouseText {
  max-width: 370px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.warehouseSection .warehouseText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}
.warehouseSection .warehouseText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
  text-align: center;
}
.warehouseSection .warehouseText .monitor {
  max-width: 329px;
  height: 230px;
}
.warehouseSection .warehouseText img {
  max-width: 329px;
  height: 230px;
  object-fit: contain;
  transition: all 1s;
  position: absolute;
  top: 9%;
  left: 40%;
  z-index: 3;
}
.warehouseSection .warehouseText img.frame-hover {
  position: absolute;
  top: 53%;
  z-index: 4;
  left: 30.6%;
  transition: all 1s;
  max-width: 85px;
  height: 60px;
}
.warehouseSection .mainImg {
  position: relative;
  max-width: 1277px;
}
.warehouseSection .mainImg .comp {
  width: 100%;
}
.warehouseSection .mainImg .warehouse1-img {
  position: absolute;
  top: 13%;
  left: 23%;
  transition: all 0.5s;
  z-index: -1;
}
.warehouseSection .mainImg .warehouse2-img {
  position: absolute;
  top: 21.7%;
  left: 25.4%;
  background: #fff;
  transition: all 0.5s;
}
.warehouseSection.active .warehouse2-img {
  top: 32.7%;
  transition: all 0.6s;
}
.warehouseSection.active .warehouse1-img {
  transition: all 1s;
  z-index: 1;
}
.warehouseSection.active .warehouseText img {
  max-width: 85px;
  height: 60px;
  top: 52%;
  left: 30.8%;
}

.formSection {
  padding: 100px 0;
}
.formSection h2 {
  font-size: 83px;
  line-height: 101px;
  color: #707070;
  font-weight: bold;
  max-width: 760px;
  text-align: center;
  margin: 20px auto 100px;
}
.formSection .building {
  width: 100%;
  height: 720px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.formSection .form-box {
  max-width: 1250px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.formSection .form-box .logo {
  max-width: 350px;
  width: 100%;
  height: 90px;
  object-fit: contain;
}
.formSection .form-box .formElements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.formSection .form-box .formElements p {
  font-size: 21px;
  line-height: 25px;
  color: #213140;
  margin-top: 20px;
}
.formSection .form-box .formElements form {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
}
.formSection .form-box .formElements select {
  padding: 10px;
}
.formSection .form-box .formElements input {
  padding: 8px;
}
.formSection .form-box .formElements input, .formSection .form-box .formElements select {
  width: 100%;
  border-radius: 14px;
  border: 1px solid #C5C5C5;
  margin: 20px 0;
  color: #707070;
  outline: none;
}
.formSection .form-box .formElements input::placeholder, .formSection .form-box .formElements select::placeholder {
  color: #707070;
  opacity: 0.5;
}
.formSection .form-box .formElements button {
  width: 100%;
  outline: none;
  border-radius: 14px;
  padding: 25px;
  color: #fff;
  border: none;
  color: #fff;
  font-size: 22px;
  line-height: 27px;
  margin-top: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: bold;
}
.formSection .form-box .formElements .bms {
  background-color: #EF6567;
}
.formSection .form-box .formElements .brands {
  background-color: #F29D1F;
}
.formSection .form-box .formElements .pos {
  background-color: #5DCAB3;
}
.formSection .form-box .formElements .tech {
  background-color: #2E4051;
}

.blog {
  padding: 50px 0;
  background-color: #F6F6F6;
}
.blog .container {
  max-width: 1730px;
}
.blog .blog-box {
  max-width: 380px;
  margin: 20px auto;
}
.blog .blog-box img {
  max-width: 380px;
  width: 100%;
  height: 235px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  opacity: 0.5;
  object-fit: cover;
  transition: all 1s;
}
.blog .blog-box .blog-text {
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  background-color: #fff;
  padding: 20px;
}
.blog .blog-box .blog-text h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: #707070;
  display: inline-block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 29px;
}
.blog .blog-box .blog-text p {
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  color: #707070;
  display: inline-block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 60px;
}
.blog .blog-box .blog-text span {
  font-size: 12px;
  color: #707070;
  line-height: 15px;
}
.blog .blog-box:hover img {
  opacity: 1;
  transition: all 1s;
}
.blog .read-more {
  text-align: right;
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #707070;
  margin: 20px;
}

footer {
  background-color: #2E4051;
  padding: 70px 0;
}
footer .footer-box {
  max-width: 1320px;
  margin: auto;
}
footer .footer-box h4 {
  color: #fff;
  font-size: 26px;
  line-height: 31px;
}
footer .footer-box p {
  font-size: 21px;
  line-height: 26px;
  color: #fff;
}
footer .footer-box .footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}
footer .footer-box .footer-social li {
  list-style: none;
}
footer .footer-box .footer-social a {
  width: 40px;
  height: 40px;
  display: block;
  background-color: #F3F3F3;
  font-size: 22px;
  color: #707070;
  margin: 10px;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-box .footer-link li {
  list-style: none;
}
footer .footer-box .footer-link li a {
  padding: 10px;
  color: #fff;
  font-size: 21px;
  display: block;
  line-height: 26px;
}
footer .footer-box .footer-link li a:hover {
  opacity: 0.7;
}
footer .footer-box .line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 10px 0;
}

.videoBg {
  background-color: #F3F3F3;
  position: relative;
  z-index: 6;
}
.videoBg .cover .coverVideo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoBg .cover .coverVideo .shadow {
  position: absolute;
  height: 1000px;
  max-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 1000ms linear all;
  cursor: pointer;
}
.videoBg .cover .coverVideo h5 {
  font-size: 74px;
  font-weight: bold;
  line-height: 91px;
  color: #fff;
  position: absolute;
  top: 50%;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
.videoBg .cover .coverVideo .img {
  height: 1000px;
  max-width: 100%;
  width: 100%;
  transition: 1000ms linear all;
  object-fit: cover;
}
.videoBg .cover .coverVideo .play {
  position: absolute;
  bottom: 25%;
}
.videoBg.videoScroll {
  padding: 100px 0;
}
.videoBg.videoScroll .shadow {
  border-radius: 174px;
  height: 895px !important;
  max-width: 1630px !important;
  width: 100% !important;
  top: unset !important;
  left: unset !important;
}
.videoBg.videoScroll .img {
  border-radius: 174px;
  height: 895px !important;
  max-width: 1630px !important;
  width: 100% !important;
}
.videoBg .cover video {
  opacity: 0;
  max-width: 1630px;
  height: 895px;
  width: 100%;
  padding: 55px;
  background-color: #F3F3F3;
  transition: 1000ms linear all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.brandsSection {
  padding: 100px 0;
}
.brandsSection .shopStore {
  padding: 100px 0;
}
.brandsSection .shopStore .shopText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
  margin: auto;
}
.brandsSection .shopStore .shopText h2 {
  color: #2E4051;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.brandsSection .shopStore .shopText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #2E4051 !important;
}
.brandsSection .shopStore .shopImg {
  position: relative;
}
.brandsSection .shopStore .shopImg .shop {
  max-width: 716px;
  height: 538px;
  object-fit: cover;
  border-radius: 53px;
}
.brandsSection .shopStore .shopImg .girl {
  position: absolute;
  left: 15%;
  bottom: 0;
  max-width: 368px;
  width: 100%;
  height: 597px;
  transition: 1s all ease-out;
}
.brandsSection .shopStore .shopImg .blur {
  max-width: 757px;
  height: 557px;
  width: 100%;
  border-radius: 53px;
  object-fit: cover;
}
.brandsSection .shopStore .shopImg .hands {
  position: absolute;
  max-width: 517px;
  width: 100%;
  height: 613px;
  bottom: 0;
  right: 45px;
  transition: all 1s;
}
.brandsSection .shopStore .shopImg .hands.activeHand {
  right: 20%;
}
.brandsSection .shopStore .shopImg .tablet {
  position: absolute;
  left: -20%;
  transition: all 1.5s;
  max-width: 615px;
  width: 100%;
  height: 600px;
  object-fit: contain;
}
.brandsSection .shopStore .shopImg .phone {
  position: absolute;
  right: 20%;
  max-width: 216px;
  width: 100%;
  height: 391px;
  transition: all 1.5s;
  object-fit: contain;
  top: 102px;
}
.brandsSection .shopStore .shopImg .mac {
  width: 100%;
  height: 600px;
  object-fit: contain;
}
.brandsSection .shopStore .shopImg.activeGirl .girl {
  left: 35%;
}
.brandsSection .shopStore .shopImg.tabletImg {
  height: 550px;
}
.brandsSection .shopStore .shopImg.tabletImg.active .tablet {
  left: 18%;
}
.brandsSection .shopStore .shopImg.tabletImg.active .phone {
  right: 0%;
}
.brandsSection .stick {
  max-width: 812px;
  height: 357px;
  margin: auto;
}
.brandsSection .stick img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imagesLight {
  padding: 200px 0;
}
.imagesLight .imgTop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  position: relative;
}
.imagesLight .imgTop img {
  max-width: 170px;
  height: auto;
  padding: 10px;
  object-fit: contain;
}
.imagesLight .imgTop .topLine {
  display: block;
  height: 50px;
  border-left: 2px dashed #707070;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30%;
}
.imagesLight .imgTop .topLine:after {
  content: "";
  display: block;
  position: absolute;
  margin-left: -2px;
  width: 2px;
  height: 0px;
  border-left: 2px dashed #5DCAB3;
  z-index: 3;
}
.imagesLight .imgTop .topLine.posline:after {
  height: 50px;
  transition: height 0.25s ease-out 0.25s;
}
.imagesLight .imgMiddle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 30px 0;
  position: relative;
}
.imagesLight .imgMiddle img {
  padding: 20px;
  max-width: 300px;
  height: auto;
  object-fit: contain;
}
.imagesLight .imgMiddle .leftLine {
  position: absolute;
  top: 17%;
  left: 26%;
  width: 80px;
  height: 30px;
  border-left: 2px dashed #707070;
  border-top: 2px dashed #707070;
}
.imagesLight .imgMiddle .leftLine:after {
  content: "";
  display: block;
  position: absolute;
  margin-top: -2px;
  margin-left: -2px;
  width: 0px;
  height: 0px;
  border-left: 2px dashed #5DCAB3;
  border-top: 2px dashed #5DCAB3;
  z-index: 3;
}
.imagesLight .imgMiddle .leftLine.posline:after {
  width: 80px;
  height: 30px;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.imagesLight .imgMiddle .rightLine {
  width: 50px;
  position: absolute;
  border-top: 2px dashed #707070;
  right: 20%;
  top: 50%;
}
.imagesLight .imgMiddle .rightLine:after {
  content: "";
  display: block;
  position: absolute;
  margin-top: -2px;
  width: 0px;
  border-top: 2px dashed #5DCAB3;
  z-index: 3;
}
.imagesLight .imgMiddle .rightLine.posline:after {
  width: 50px;
  transition: width 0.25s ease-out 0.25s;
}
.imagesLight .imgMiddle .bottomLine {
  height: 30px;
  width: 20px;
  border-left: 2px dashed #707070;
  border-right: 2px dashed #707070;
  position: absolute;
  bottom: -10%;
  left: 55.5%;
}
.imagesLight .imgMiddle .bottomLine:after {
  content: "";
  display: block;
  position: absolute;
  margin-left: -2px;
  width: 20px;
  height: 0px;
  border-left: 2px dashed #5DCAB3;
  border-right: 2px dashed #5DCAB3;
  z-index: 3;
}
.imagesLight .imgMiddle .bottomLine.posline:after {
  height: 30px;
  width: 20px;
  transition: height 0.25s ease-out 0.25s, width 0.25s ease-out 0.25s;
}
.imagesLight .imgBottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px 0;
  position: relative;
}
.imagesLight .imgBottom img {
  max-width: 250px;
  height: auto;
  object-fit: contain;
  padding: 10px;
  margin-left: 20px;
}
.imagesLight .imgBottom .bottomLeftLine {
  width: 40px;
  border-top: 2px dashed #707070;
  position: absolute;
  bottom: 45%;
  right: 23%;
}
.imagesLight .imgBottom .bottomLeftLine:after {
  content: "";
  display: block;
  position: absolute;
  margin-top: -2px;
  width: 0px;
  border-bottom: 2px dashed #5DCAB3;
  z-index: 3;
}
.imagesLight .imgBottom .bottomLeftLine.posline:after {
  width: 40px;
  transition: height 0.25s ease-out 0.25s, width 0.25s ease-out 0.25s;
}
.imagesLight .imgBottom .bottomTopLine {
  height: 40px;
  border-left: 2px dashed #707070;
  position: absolute;
  top: -32%;
  right: 12%;
}
.imagesLight .imgBottom .bottomTopLine:after {
  content: "";
  display: block;
  position: absolute;
  margin-left: -2px;
  height: 0px;
  border-left: 2px dashed #5DCAB3;
  z-index: 3;
}
.imagesLight .imgBottom .bottomTopLine.posline:after {
  height: 40px;
  transition: height 0.25s ease-out 0.25s;
}

.bordercolor {
  border-color: #5DCAB3 !important;
}

.posText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.posText h2 {
  color: #2E4051;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.posText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #2E4051 !important;
}

.greenImsSection {
  padding: 200px 0;
}
.greenImsSection .greenImg {
  position: relative;
}
.greenImsSection .greenImg img {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
  z-index: 2;
}
.greenImsSection .greenImg .shadowPos {
  max-width: 620px;
  border-radius: 70px;
  height: 535px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #5DCAB3;
}

.tabsSection {
  padding: 200px 0;
}
.tabsSection .nav-tabs {
  display: flex;
  justify-content: space-between;
  background-color: #F3F3F3;
  padding: 10px;
  border: none;
  border-radius: 43px;
}
.tabsSection .nav-tabs .nav-item.show .nav-link, .tabsSection .nav-tabs .nav-link.active, .tabsSection .nav-tabs .nav-link {
  border-radius: 43px;
  padding: 10px;
  width: 190px;
  display: block;
  text-align: center;
  border: none;
}
.tabsSection .nav-tabs .nav-link {
  color: #5E5E5E;
}
.tabsSection .navImg {
  position: relative;
  max-width: 1100px;
  margin: 100px auto 0;
}
.tabsSection .navImg img {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
  z-index: 3;
}
.tabsSection .navImg .shadowNav {
  border-radius: 70px;
  height: 544px;
  width: 100%;
  position: absolute;
  background-color: #5DCAB3;
  bottom: 0;
}

.greenImgmini {
  position: relative;
}
.greenImgmini .topImg {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.greenImgmini .topImg img {
  max-width: 325px;
  display: block;
  object-fit: contain;
}
.greenImgmini .bottomImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.greenImgmini .bottomImg .imgBox {
  position: relative;
}
.greenImgmini .bottomImg .imgBox .shadow {
  max-width: 156px;
  border-radius: 70px;
  height: 156px;
  width: 100%;
  background-color: #199B82;
  border-radius: 8px !important;
  position: absolute;
  right: 20px;
  bottom: 40px;
}
.greenImgmini .bottomImg .imgBox::after {
  display: block;
  content: " ";
  height: 70px;
  border-left: 1px dashed #707070;
  position: absolute;
  top: -65%;
  left: 50%;
}
.greenImgmini .bottomImg .imgBox:first-child::after {
  left: 80%;
  transform: rotate(45deg);
}
.greenImgmini .bottomImg .imgBox:last-child::after {
  left: 30%;
  transform: rotate(-45deg);
}
.greenImgmini .bottomImg img {
  max-width: 250px;
  object-fit: contain;
  display: block;
  position: relative;
  z-index: 3;
}

.cubics-products {
  padding: 200px 0;
}
.cubics-products .product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cubics-products h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
  max-width: 400px;
}
.cubics-products .product-box {
  margin: 40px auto;
}
.cubics-products .product-box .productImg {
  border-radius: 45px;
  max-width: 274px;
  height: 274px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(-90deg);
  transition: all 0.5s;
}
.cubics-products .product-box .productImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
}
.cubics-products .product-box .productImg.first {
  border: 10px solid #E64D3C;
}
.cubics-products .product-box .productImg.second {
  border: 10px solid #F29D1F;
}
.cubics-products .product-box .productImg.third {
  border: 10px solid #5DCAB3;
}
.cubics-products .product-box .productImg.hover {
  transform: rotate(0deg);
  transition: all 1.5s;
  border-color: transparent;
}
.cubics-products .product-box .productImg.hover img {
  opacity: 1;
  transition: all 1s;
}
.cubics-products .product-box .productText {
  max-width: 274px;
  text-align: center;
  color: #2E4051;
}
.cubics-products .product-box h5 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}
.cubics-products .product-box p {
  font-size: 20px;
  line-height: 24px;
}

.ecoSystem {
  padding: 200px 0;
}
.ecoSystem .ecoSystemText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.ecoSystem .ecoSystemText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.ecoSystem .ecoSystemText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.ecoSystem .ecoImg {
  position: relative;
}
.ecoSystem .ecoImg .mainImg {
  width: 100%;
}
.ecoSystem .ecoImg img {
  transition: all 1s;
}
.ecoSystem .ecoImg .blue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ecoSystem .ecoImg .blue img {
  width: 113px;
  height: 113px;
  object-fit: contain;
}
.ecoSystem .ecoImg .red {
  position: absolute;
  left: -40px;
  top: 90%;
  width: 89px;
  height: 89px;
  object-fit: contain;
}
.ecoSystem .ecoImg .green {
  position: absolute;
  right: 60px;
  bottom: 55px;
  width: 61px;
  height: 61px;
  object-fit: contain;
}
.ecoSystem .ecoImg .yellow {
  position: absolute;
  left: 150px;
  top: 140px;
  width: 57px;
  height: 54px;
  object-fit: contain;
}
.ecoSystem .ecoImg.hover {
  transition: 2s all;
}
.ecoSystem .ecoImg.hover .blue img {
  transform: rotate(90deg);
}
.ecoSystem .ecoImg.hover .red {
  top: 200px;
}
.ecoSystem .ecoImg.hover .yellow {
  left: 70%;
}
.ecoSystem .ecoImg.hover .green {
  right: 42%;
}

.advantagesTech {
  padding: 200px 0;
}
.advantagesTech .advantagesText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.advantagesTech .advantagesText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.advantagesTech .advantagesText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.advantagesTech .advantagesText ul {
  padding-left: 0;
}
.advantagesTech .advantagesText ul li {
  list-style: none;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
  padding: 10px 0;
}
.advantagesTech .advantagesText ul li:before {
  content: " ";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #3798D3;
}
.advantagesTech .rectangle-box {
  position: relative;
  max-width: 480px;
  margin: auto;
  height: 480px;
  flex-wrap: wrap;
  display: flex;
}
.advantagesTech .rectangle-box .blue-rectangle,
.advantagesTech .rectangle-box .red-rectangle,
.advantagesTech .rectangle-box .green-rectangle,
.advantagesTech .rectangle-box .yellow-rectangle {
  content: " ";
  border-radius: 33px;
  display: inline-block;
  position: absolute;
  width: 100%;
  transition: all 0.5s;
}
.advantagesTech .rectangle-box .blue-rectangle {
  max-width: 175px;
  height: 284px;
  top: 0;
  left: 0;
}
.advantagesTech .rectangle-box .green-rectangle {
  max-width: 285px;
  height: 265px;
  top: 0;
  right: 0;
}
.advantagesTech .rectangle-box .red-rectangle {
  max-width: 175px;
  height: 174px;
  left: 0;
  bottom: 0;
}
.advantagesTech .rectangle-box .yellow-rectangle {
  max-width: 285px;
  height: 197px;
  bottom: 0;
  right: 0;
}
.advantagesTech .rectangle-box .blue-pos-1 {
  max-width: 73%;
  height: 284px;
}
.advantagesTech .rectangle-box .green-pos-1 {
  max-width: 23%;
  height: 284px;
}
.advantagesTech .rectangle-box .red-pos-1 {
  max-width: 60%;
  height: 174px;
}
.advantagesTech .rectangle-box .yellow-pos-1 {
  max-width: 36%;
  height: 174px;
}
.advantagesTech .rectangle-box .blue-pos-2 {
  max-width: 23%;
  height: 284px;
}
.advantagesTech .rectangle-box .green-pos-2 {
  max-width: 73%;
  height: 284px;
}
.advantagesTech .rectangle-box .red-pos-2 {
  max-width: 36%;
  height: 174px;
}
.advantagesTech .rectangle-box .yellow-pos-2 {
  max-width: 60%;
  height: 174px;
}
.advantagesTech .rectangle-box .blue-pos-3 {
  max-width: 36%;
  height: 174px;
}
.advantagesTech .rectangle-box .green-pos-3 {
  max-width: 60%;
  height: 174px;
}
.advantagesTech .rectangle-box .red-pos-3 {
  max-width: 23%;
  height: 284px;
}
.advantagesTech .rectangle-box .yellow-pos-3 {
  max-width: 73%;
  height: 284px;
}
.advantagesTech .rectangle-box .blue-pos-4 {
  max-width: 60%;
  height: 174px;
}
.advantagesTech .rectangle-box .green-pos-4 {
  max-width: 36%;
  height: 174px;
}
.advantagesTech .rectangle-box .red-pos-4 {
  max-width: 73%;
  height: 284px;
}
.advantagesTech .rectangle-box .yellow-pos-4 {
  max-width: 23%;
  height: 284px;
}

.about-section {
  padding: 200px 0;
}
.about-section .aboutText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  margin: 20px auto;
}
.about-section .aboutText h2 {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}
.about-section .aboutText p {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: #707070 !important;
}
.about-section .about-img-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 53px;
}
.about-section .about-img-container .about-img {
  height: 100%;
  transition: all 2s;
}
.about-section .about-img-container .about-img.hover {
  background-position: -50%;
  transform: scale(4);
}

.secondary-title {
  color: #707070;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
}

.news {
  margin: 30px 0;
  padding: 30px 0;
  background-color: #F9F9F9;
}

.logo-slider {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.logo-slider:hover div {
  animation-play-state: paused;
}

.logo-slider div {
  display: flex;
  position: relative;
  animation: logo-slider 20s linear infinite;
  justify-content: space-around;
}

.logo-slider img {
  display: block;
  margin-left: 40px;
  object-fit: scale-down;
  width: 110px;
  height: 100px;
}

.logo-slider:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), white);
}

@keyframes logo-slider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.brands-carousel {
  position: relative;
  background-color: #F3F3F3;
}
.brands-carousel .logo-slider:hover div {
  animation-play-state: running;
}
.brands-carousel .logo-slider img {
  width: 135px;
  height: 135px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.brands-carousel .mainImgFade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.46);
}
.brands-carousel .mainImgFade .owl-brands {
  max-width: 350px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 5;
  background-color: #fff;
}
.brands-carousel .mainImgFade .owl-brands .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}
.brands-carousel .mainImgFade .owl-brands img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  object-fit: contain;
}

/*# sourceMappingURL=main.css.map */
